<div class="flex flex-col md:w-full max-w-2xl lg:max-w-3xl mx-auto md:flex-row justify-center md:justify-between md:space-x-16 space-y-10 md:space-y-0 my-20 px-5">
    <div class="max-w-xs md:max-w-none mx-auto md:w-1/2">
        <img src="/assets/img/noodles-5658688_1280.png" alt="about" class="mx-auto md:w-full md:h-full" />
    </div>
    <div class="max-w-xs md:max-w-none mx-auto md:w-1/2 space-y-5 md:self-center">
        <p class="text-red-600 font-bold text-sm">ABOUT US</p>
        <h3 class="text-2xl md:text-3xl font-bold leading-tight lg:w-64">Foodies and fried dreams</h3>
        <p class="lg:text-base leading-tight">Our main target here is bringing you that fast food that you enjoy all time and more than this category. People over these days doesn't need to get to his preferred food local to enjoy, much better, the fun goes to you! Because there's no much better place than the home.</p>
        <div class="flex justify-center md:justify-start">
            <button class="py-3 px-5 bg-red-600 rounded-sm"><span class="text-gray-100 font-bold md:text-md">Read more</span></button>
        </div>
    </div>
</div>