<div class="mx-auto max-w-screen-lg px-5 py-10">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-20 sm:gap-6">
        <div class="bg-red-700 px-8 py-8 space-y-8">
            <div class="flex">
                {{ svg src="truck" class="w-15 h-10" }}
                <p class="text-gray-100 my-auto ml-8 w-56 leading-tight">Deliver on time</p>
            </div>
            <div class="">
                <p class="text-gray-100 mb-32 leading-tight text-left">We want to assure that our delighters get their food on the ahead time possible, it is important to us that every person it's satisfied same as you want your order in your hands.</p>
            </div>
        </div>
        <div class="bg-red-700 px-8 py-8 space-y-8">
            <div class="flex">
                {{ svg src="map-marker" class="w-15 h-10" }}
                <p class="text-gray-100 my-auto ml-8 w-56 leading-tight">On any place where you are</p>
            </div>
            <div>
                <p class="text-gray-100 mb-32 leading-tight text-left">Our business is not fixed by a specific location, our modality goes to food delivery, so the experience comes to you where you are.</p>
            </div>
        </div>
        <div class="bg-red-700 px-8 py-8 space-y-8">
            <div class="flex">
                {{ svg src="fast-food" class="w-15 h-10" }}
                <p class="text-gray-100 my-auto ml-8 w-56 leading-tight">You choose your deliciousness!</p>
            </div>
            <div>
                <p class="text-gray-100 mb-32 leading-tight text-left">Hotfood Mobile let's you to customize your order with the food and flavors that get you on the skies, we're not arranged to fixed options only, because your decision is the last word.</p>
            </div>
        </div>
    </div>
</div>