<div class="mx-auto max-w-4xl my-16 space-y-10 px-5">
    <h3 class="text-center text-xl md:text-2xl font-bold">Our Presentations</h3>
    <div class="grid grid-cols-1 md:grid-cols-2 max-w-2xl lg:max-w-none md:mx-auto gap-6">
        <div class="bg-gray-100 m-auto p-6 shadow-md h-64 lg:h-full w-full flex max-w-xs lg:max-w-none">
            <img src="/assets/img/58727fc4f3a71010b5e8ef0a.png" class="w-10/12 mx-auto self-center" />
        </div>
        <div class="bg-gray-100 m-auto p-6 shadow-md h-64 lg:h-full w-full flex max-w-xs lg:max-w-none">
            <img src="/assets/img/585ac0544f6ae202fedf2939.png" class="w-10/12 mx-auto self-center" />
        </div>
    </div>
    <div class="flex justify-center">
        <button class="py-3 px-6 bg-red-600 rounded-sm"><span class="text-gray-100 font-bold md:text-lg">See more</span></button>
    </div>
</div>