<div class="relative h-auto overflow-x-hidden bg-gray-800">
    <div class="max-w-screen-xl mx-auto py-12 px-4 overflow-hidden sm:px-6 lg:px-8">
        <nav class="-mx-5 -my-2 flex flex-wrap justify-center">
            <div class="px-5 py-2">
                <a href="/" class="text-sm leading-6 tracking-widest font-medium text-gray-100 hover:underline">
                    <!--{{ footer:areas_link_label }}-->
                    Home
                </a>
            </div>
            <div class="px-5 py-2">
                <a href="/menu" class="text-sm leading-6 tracking-widest font-medium text-gray-100 hover:underline">
                    <!--{{ footer:solutions_link_label }}-->
                    Menu
                </a>
            </div>
            <div class="px-5 py-2">
                <a href="/about" class="text-sm leading-6 tracking-widest font-medium text-gray-100 hover:underline">
                    <!--{{ footer:company_link_label }}-->
                    About us
                </a>
            </div>
            <div class="px-5 py-2">
                <a href="/contact" class="text-sm leading-6 tracking-widest font-medium text-gray-100 hover:underline">
                    <!--{{ footer:blog_link_label }}-->
                    Contact
                </a>
            </div>
        </nav>
        <div class="mt-8 flex justify-center space-x-5">
            <!--{{ footer:social_networks }}
            <a href="{{ social_link }}" target="_blank">
                <img src="{{ social_icon }}"  class="w-6 h-6">
            </a>
            {{ /footer:social_networks }}-->
        </div>
        <div class="mt-8">
            <p class="text-center text-sm leading-6 font-medium tracking-widest text-gray-400">
                &copy; <!--{{ footer:copyright_year }} {{ footer:company_name }} {{ footer:copyright_text }}--> 2021 Hotfood Mobile. All Rights Reserved.
            </p>
        </div>
    </div>
</div>